<section id="footer-section">
				<div class="footer-panel">
					<div class="close"></div>
					<section id="contact">
	<h1>Contact</h1>
	<div class="center">
	<div class="form">
		<form autocomplete="off" class='mainform slide' onclick="">
			<div class="column">
				<div class="floatlabel">
				    <label for="firstname">First Name</label>
				    <input id="firstname" type="text" class='required'/>
				</div>
				<div class="floatlabel">
				    <label for="lastname">Last Name</label>
				    <input id="lastname" type="text" class='required'/>
				</div>
				<div class="floatlabel-select mobile-hide">
				    <label for="size">Preferred residence size</label>
				    <div class='value'></div>
				    <ul id='size'>
						<li>One Bedroom</li>
						<li>Two Bedroom</li>
						<li>Three Bedroom</li>
						<li>Four Bedroom</li>
						<li>Penthouse</li>
						<li>Townhouse</li>
					</ul>
				</div>
				<div class="floatlabel-select">
				    <label for="broker">Are you a broker?</label>
				    <div class='value'></div>
				    <ul id='broker'>
						<li>Yes</li>
						<li>No</li>
					</ul>
				</div>
				<div class="floatlabel-select">
				    <label for="via">How did you hear about us?</label>
				    <div class='value'></div>
				    <ul id='via' class='via'>
						<li>Signage</li>
						<li>Live or work in the area</li>
						<li>Broker</li>
						<li>Corcoran.com</li>
						<li>Streeteasy</li>
						<li>Newspaper / Magazine</li>
						<li>Google</li>
						<li>Other</li>
					</ul>
				</div>
				<div class="appointment mobile-hide">
				    <label>I would like to make an appointment with a Sales Representative</label>
				    <input type="checkbox" id="appointment">
				    <label for="appointment" class='checkbox' ></label>
				</div>
			</div>
			<div class="column">
				<div class="floatlabel">
				    <label for="email">Email</label>
				    <input id="email" type="text" class='required'/>
				</div>
				<div class="floatlabel mobile-hide">
				    <label for="phone">Phone</label>
				    <input id="phone" type="text"/>
				</div>
				<div class="floatlabel comments mobile-hide">
				    <label for="comments">Comments</label>
				    <textarea id="comments"></textarea>
				</div>
				<a href="#submit" class="submit">Submit</a>
			</div>
			<div class="thankyou">
				<h2>THANK YOU</h2>
				<div class='message'>We will be in touch soon.</div>
			</div>
			<div class="clear"></div>
		</form>
	</div>
	<div class="address">
		<address>
			<p>88 &amp; 90 Lex Sales Gallery, 88 Lexington Avenue, #701, New York, NY 10016</p>		</address>
		<a class="tel" href="tel:2126858890">212 685 8890</a> <a href="mailto:info@88and90lex.com">info@88and90lex.com</a>
	</div>
	</div>
</section>