<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Jacques+Francois' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- TOGGLE -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<!-- SKROLLR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.leanmodal/1.1/jquery.leanmodal.min.js"></script>
<!-- APPLICATION SCRIPTS -->
<script src="scripts.js"></script>
    <title>QUO</title>
  </head>
  <body>

<header>
  <!--NAVBAR-->
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
<!--  -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">QUO</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">


<!--       <li><div class="btn-group" data-toggle="buttons">
  <label class="btn btn-warning active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked>Newest
  </label>
  <label class="btn btn-info">
    <input type="radio" name="options" id="option2" autocomplete="off">Votes
  </label>
</div></li> -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <p class="navbar-btn">
    <!-- BOOTSTRAP TOGGLE -->
<input type="checkbox" class="toggle" checked data-toggle="toggle" data-on="Latest" data-off="Popular " data-onstyle="info" data-offstyle="danger">
<!-- MODAL TRIGGER -->
      <button type="submit" id="submit" class="btn btn-warning" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Submit a Quote</h4>
        </div>
        <div class="modal-body">
<!-- FORM -->
<form id="submitnewquote">
<div><label for="quoteinput">Your quote</label><br>
<textarea id="quoteinput" placeholder="What is your quote?" cols="70" name="quote"></textarea></div>
<div><label for="authorinput">Author</label><br>
<input type="text" id="authorinput" placeholder="Who said this?" size="70" name="author"></div>
<div></div><hr>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
        </div>
      </div>
      
    </div>
  </div>
    </ul>     
    </p>
  </div>
</nav>
 </header>

<!-- RANDOM QUOTE -->
<section id="welcome">
<h4>Random Quote</h4>
    <div id="randomquote">
<br>
<!-- 
<form method="GET" action="http://www.stands4.com/services/v2/quotes.php">
 <input type="hidden" name="uid" value="4469" />
 <input type="hidden" name="tokenid" value="aamCAHxAPjwukaVI" />
 <input type="hidden" name="searchtype" value="RANDOM" />
 <input type="submit" value="GIMME RANDOM" />
</form> -->

        </div>

      <button id="morerandom" class="btn btn-warning"><span class="glyphicon glyphicon-random"></span></button>
  </section>
  </div>


<!-- DB CONTENT -->
<div id="content">
<% for (var i=posts.length-1; i>=0; i--){ %>
<section class="posts" id="toppost">
<p class="v"></p>
<button type="button" id="up" class="btn btn-success"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
<button type="button" id="down" class="btn btn-danger"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
          <button data-id="<%=posts[i].id %>" type="button" class="deletebutton">&times;</button><br><br>
<font size="100">“</font><h3><%= posts[i].quote %></h3><h1>”</h1><br>
<h5>- <%= posts[i].author %></h5>
</section>
<% } %>
</div>

<!-- SKROLLR -->
<script type="text/javascript">
  var s = skrollr.init();
</script>
  </body>


</html>
