<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- FONTS -->
<!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- SKROLLR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<!-- VALIDATION -->
<script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.js"></script>
<!-- APPLICATION SCRIPTS -->
<script src="scripts.js"></script>
    <title>Destination app</title>
  </head>
  <body>
<header>
  <!--NAVBAR-->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
<!--  -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">GOTO</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
<!--       <li><div class="btn-group" data-toggle="buttons">
  <label class="btn btn-warning active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked>Newest
  </label>
  <label class="btn btn-info">
    <input type="radio" name="options" id="option2" autocomplete="off">Votes
  </label>
</div></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <p class="navbar-btn">
<!-- BOOTSTRAP TOGGLE -->
<!-- <input type="checkbox" class="toggle" checked data-toggle="toggle" data-on="Latest" data-off="Popular " data-onstyle="info" data-offstyle="danger"> -->
<!-- MODAL TRIGGER -->
<li>      <button type="submit" id="submit" class="navbarbtn btn btn-warning" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></li>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share your picture!</h4>
        </div>
        <div class="modal-body" id="submitnewquotemodalbody">
<!-- FORM -->
<form id="newpost">
img url
<input type="text" placeholder="imgurl" name="imgurl" class="required">
<input type="text" placeholder="location" name="location" class="required">
<input type="text" placeholder="author" name="author" class="required"><hr>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
        </div>
      </div>
    </div>
  </div>
<!-- SIGNUP -->
<!-- MODAL TRIGGER -->
<li>
      <button type="submit" id="signupmodaltrigger" class="navbarbtn btn btn-warning" data-toggle="modal" data-target="#signupModal">Signup</button></li>
      
<!-- Modal -->
  <div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign up for GOTO</h4>
        </div>
        <div class="modal-body">
<!-- SIGNUP FORM -->
<form id="signup">
<div><label for="email">Your email</label><br>
<input type="email" name="email" class="required"></div>
<input type="text" name="firstname" class="required"/>
<input type="text" name="lastname" class="required"/>
<div><label for="password">Password</label><br>
<input type="password" id="signuppassword" placeholder="Your password" size="70" name="password" class="required"></div>
<hr>
<button id="submitsignup" type="submit" class="btn btn-warning">Submit</button>
</form>
        </div>
      </div>
    </div>
  </div>
<!-- LOGIN -->
  <!-- MODAL TRIGGER -->
      <li><button type="submit" id="submit" class="navbarbtn btn btn-warning" data-toggle="modal" data-target="#loginModal">Login</button></li>
<!-- Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
<!-- LOGIN FORM -->
<form id="login">
<div><label for="email">Your email</label><br>
<input type="email" name="email" class="required"></div>
<div><label for="password">Password</label><br>
<input type="password" id="password" placeholder="Your password" size="70" name="password" class="required"></div>
<hr>
<button class="btn btn-warning">Submit</button>
</form>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF MODALS -->
  <li><button id="logout" href="/logout" class="navbarbtn btn btn-warning">Logout</button></li>

    </p> </ul>
  </div>
</nav>
 </header>
<!-- DB CONTENT -->
<div id="content">
<% for (var i=posts.length-1; i>=0; i--){ %>
<section class="posts" id="toppost">
<div class="post1">
<h3><img src= "<%= posts[i].imgurl %>" width="100%"> </h3><br><%= posts[i].location %> 
<h5>by <%= posts[i].author %></h5>
<hr>

<button data-id="<%=posts[i].id %>" type="button" class="btn btn-warning deletebutton">&times;</button><br>
<button id="vote" class="btn btn-warning"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
<button id="up" class="btn btn-warning movetoprev"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
<button id="down" class="btn btn-warning movetonext"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
<button class="btn btn-warning movetonext">Next</button>



</div>
</section>
<% } %>

<!-- SKROLLR -->
<script type="text/javascript">
  var s = skrollr.init();
</script>
<!-- VALIDATE -->

<script>
  $('form').validate();
</script>
  </body>


</html>
